<h1>Sign Up</h1>

<form action="/auth/signup" method="POST">
  <div class="form-group signup-form">
    <input type="text" class="form-control signup-input" name="first" placeholder="First Name">
    <input type="text" class="form-control signup-input" name="last" placeholder="Last Name">
    <input type="email" class="form-control signup-input" name="email" placeholder="Email">
    <input type="password" class="form-control signup-input" name="password" placeholder="Password">
    <input type="password" class="form-control signup-input" name="password2" placeholder="Re-enter Password">
  </div>
  <button type="submit" class="btn btn-primary pull-right">Submit</button>
</form>