<h1>Index</h1>

<!-- <form action="/" method="POST" role="form">
  <div class="form-group">
    <input type="text" class="form-control" id="" placeholder="Input field">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
<form action="/results" method="GET" role="form">
  <div class="form-group">
    <input type="text" class="form-control" name="address" placeholder="Enter Address">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- <a href="/results"><button type="button" class="btn btn-primary">Get Location</button></a> -->