<h1>locations</h1>

<% if (!currentUser) { %>
  You need to log in first!
<% } else { %>
  <% places.forEach(function(place) { %>
  <div class="well">
    <h3><%= place.name %>
    <p><small><%= place.address %></small></p></h3>
  </div>
  <% }) %>
<% }; %>  

