<h1>Results</h1>

<div class="row">
  <p><div id="mapholder" class="col-xs-12 col-sm-6 col-md-8 map-canvas"></div></p>
  <div class="col-xs-6 col-md-4">
    <form action="/results" method="GET" role="form">
      <div class="form-group">
        <p><input type="text" class="form-control" name="address1" placeholder="Enter First Address"><p>

        <p><input type="text" class="form-control" name="address2" placeholder="Enter Second Address"></p>
      </div>
      <button type="submit" class="btn btn-primary pull-right">Submit</button>
    </form>
  </div>
</div>

<script>var rendezvous = <%- JSON.stringify(rendezvous) %></script>
<script src="https://maps.googleapis.com/maps/api/js?&v=3.21&callback=initMap&libraries=places&key=AIzaSyCjpLWue5GTsHRzJmp4pOxFFJoRGpTMWCc"></script>
<script type="text/javascript" src="js/geolocation.js"></script>