h1 {
  background-color: white;
}

#mapholder {
    position: relative;
    width: 66%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.map-canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.form-control {
  padding-top: 10px;
  padding-bottom: 10px;
}

.signup-input {
  margin-bottom: 5px;
}

.login-bar {
  width: 300px;
  padding: 15px;
  padding-bottom: 0px;
}

.login-input {
  margin-bottom: 15px;
}

.login-button {
  width: 100%;
  margin-bottom: 15px;
}

.checkbox-area {
  border: 1px solid black;
  height: 50vh;
}

.checkbox-form {
  font-size: 16px;
}

@media (max-width: 991px) {
  h1 {
    background-color: red;
  }
  #mapholder {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
  }
  .address-input {
    margin-top: 15px;
    width: 100%;
  }
  .login-button {
    width: 100%;
  }
}